.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .wrapper {
    flex: 1 0 0;
  }
}
.page-services ul {
    margin: 1em;
    font-size: larger;
    font-weight: 200;
}
.page-service ul {
    font-size: larger;
    font-weight: 200;
}